<!--<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async as isLoggedIn">
  <span>
    Angular NavBar + Login Example #01
  </span>
  <span class="fill-remaining-space"></span>
  <button mat-button>Menu Option 01</button>
  <button mat-button>Menu Option 02</button>
  <!--button mat-button routerLink="login" *ngIf="!isLoggedIn; else notLoggedIn">Login</button>
  <ng-template #notLoggedIn>
    <button mat-button (click)="onLogout()">Logout</button>
  </ng-template>
  <button mat-button (click)="onLogout()" *ngIf="isLoggedIn">Logout</button>
</mat-toolbar>
<mat-toolbar color="primary"> 
</mat-toolbar>-->
 
<mat-toolbar color="primary" *ngIf="currentUser">
   <mat-toolbar-row>
    <span><button mat-button routerLink="/" class="example-icon" *ngIf="currentUser">Dashboard</button></span> 
    <span><button type="button" class="btn btn-danger" routerLink="/custforms/loan"> Forms</button></span>
    <span><button type="button" style="margin-left: 9px;" class="btn btn-success">Warning</button></span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <button mat-button (click)="onLogout()" class="example-icon" *ngIf="currentUser">Logout</button>
   </mat-toolbar-row>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading$ | async as isLoading"></mat-progress-bar>
</mat-toolbar>

