.flex {
  display: flex;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.hover:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.postContainer {
  width: 900px;
  height: 240px;
  background: #f3f6f8;
  border-radius: 10px;
  padding: 8px 16px;
  margin: 0 auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  position: relative;
  text-align: left;
  margin-bottom: 40px;
  transition-duration: 0.5s;
}
.card {
  padding: 8px 16px;
  margin: 0 auto;
  width: 900px;
  height: 240px;
  background: #f3f6f8;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  word-wrap: break-word;
  background-color: rgba(255, 255, 251, 0);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2.25rem;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  transition-duration: 0.5s;
}

.card .card-body {
  flex: 1 1 auto;
  /* top: 38px; */
  min-height: 15px;
  padding: 0.25rem;
  padding-left: 325px;
  left: 49px;
}

.card .card-footer:last-child {
  border-radius: 2.5rem;
  padding-left: 312px;
}

.card .card-footer:last-child .read-more {
  position: absolute;
  right: 24px;
}

.card .imageCont {
  top: -8px;
  left: -16px;
  position: relative;
}
.card .imageCont .image {
  width: 320px;
  height: 240px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  margin: 0;

  border-bottom-left-radius: 2.25rem;
  border-top-left-radius: 2.25rem;
  padding: 0;
  position: absolute;
  z-index: 5;
  overflow: hidden;
}

.card .card-body .title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  text-overflow: ellipsis;
  height: 41px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}
.card .card-body .detail {
  font-size: 20px;
  margin: 0;
  text-overflow: ellipsis;
  height: 81px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 4;
  -moz-line-clamp: 4;
  -ms-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
}
.card .card-body .author {
  font-size: 14px;
  margin: 4px 0px;
  color: rgba(0, 0, 0, 0.5);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
