.card {
    padding: 8px 16px;
    margin: 0 auto;
    width: 900px;
    background: #f3f6f8;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    word-wrap: break-word;
    background-color: rgba(255, 255, 251, 0);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 2.25rem;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    transition-duration: 0.5s;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }